<div class="sm:py-12 flex flex-col justify-center min-h-screen py-6 bg-gray-100">
  <div class="sm:max-w-xl sm:mx-auto relative py-3">
    <div class="bg-gradient-to-r from-indigo-400 to-blue-600 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl absolute inset-0 transform -skew-y-6 shadow-lg"></div>
    <div class="sm:rounded-3xl sm:p-20 relative px-4 py-10 bg-white shadow-lg">
      <div class="max-w-md mx-auto">
        <div>
          <h1 class="text-4xl">Tailwind CSS Schematics</h1>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="sm:text-lg sm:leading-7 py-8 space-y-4 text-base leading-6 text-gray-700">
            <p>Simple <a href="https://angular.io/" class="hover:text-red-700 text-red-600">Angular</a> schematic initializing <a href="https://tailwindcss.com/" class="hover:text-indigo-700 text-indigo-600">Tailwind CSS</a> in your project and adds a custom webpack config to your build process.</p>
            <ul class="space-y-2 list-disc">
              <li class="flex items-start">
                <span class="sm:h-7 flex items-center h-6">
                  <svg class="flex-shrink-0 w-5 h-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">
                  Creating a
                  <code class="text-sm font-bold text-gray-900">webpack.config.js</code> file
                </p>
              </li>
              <li class="flex items-start">
                <span class="sm:h-7 flex items-center h-6">
                  <svg class="flex-shrink-0 w-5 h-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">
                  Adding tailwind imports to
                  <code class="text-sm font-bold text-gray-900">src/styles.scss</code>
                </p>
              </li>
              <li class="flex items-start">
                <span class="sm:h-7 flex items-center h-6">
                  <svg class="flex-shrink-0 w-5 h-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">Configuring
                  <code class="text-sm font-bold text-gray-900">angular.json</code> file
                </p>
              </li>
              <li class="flex items-start">
                <span class="sm:h-7 flex items-center h-6">
                  <svg class="flex-shrink-0 w-5 h-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">Installing dependencies</p>
              </li>
            </ul>
            <p>Perfect to quickly get started using Angular + Tailwind CSS.</p>
          </div>
          <div class="sm:text-lg sm:leading-7 pt-6 text-base font-bold leading-6">
            <p>Check out on the Schematics on GitHub</p>
            <p>
              <a href="https://github.com/notiz-dev/ngx-tailwind#readme" class="hover:text-indigo-700 text-indigo-600"> Repo on GitHub &rarr; </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
